<div class="header">
  <button class="button alert"><%= link_to("Log out",destroy_user_session_path,method: :delete) %></button>
  <button class="button success"><%= link_to("Home",posts_path) %></button>
</div>
