<div class="header">
<% if signed_in? %>
<%= link_to("logout",destroy_user_session_path,method: :delete) %>
<%= link_to("posts",posts_path) %>

<% else %>
<%= link_to("sign in",new_user_session_path) %>


<% end %>
</div>
